@import '../typography.scss';


.button-main {
  border: 0.5px solid rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  background-color: rgba(200, 200, 200, 0.3);
  color: white;
  letter-spacing: 3px;
  padding: 12px 20px;
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
  width: max-content;
  display: inline-block;
  text-align: center;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  z-index: 100;
  backdrop-filter: blur(6px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  white-space: nowrap;
}

.button-main:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.button-main:active {
  position: relative;
  top: 1px;
}


.menu-button {

  z-index: 4;
  transition: all .3s;

}


@media (min-width: 1060px) {
  .button-main {
    min-width: 170px;
  }


  .menu-button {
    display: none;
  }
}