@import '../typography.scss';


.bbutton-main {
    
  border: 0.5px solid rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  background-color: black;
  color: white;
  letter-spacing: 3px;
  padding: 12px 20px;
  
  font-size: 12px;
  cursor: pointer;
  text-decoration: none;
  width: auto;
  display: inline-block;
  text-align: center;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  align-self: flex-start;
  z-index: 100;
//   backdrop-filter: blur(6px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  white-space: nowrap;
}

.bbutton-main:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.bbutton-main:active {
  position: relative;
  top: 1px;
}


.menu-bbutton {

  z-index: 100;
  // border: 1px solid rgba(0, 0, 0, 0);
  transition: all .3s;

  &:hover {
    // border: 1px solid white;
  }
}


@media (min-width: 1060px) {
  .bbutton-main {
    min-width: 170px;
  }


  .menu-bbutton {
    display: none;
  }
}