@import '../typography.scss';
@import '../base/variables.scss';

@media (min-width: 1060px) {

    .card-container--producto {
        width: 170px;
        border-radius: 4px;

        .producto-card--title {
            padding: 0.5rem;
            font-size: 20px;
            @include raleway-medium;
        }

        .square {
            position: absolute;
            top: 0;
            left: 10;
            width: 30px;
            height: 3px;
            background-color: $color_rojo;
        }

        .producto-card--image {
            // width: 100%;
            height: 180px;
            background-size: 250%;
        }

        .vermas-container {
            position: relative;
            padding: 0.5rem;
            transition: all 0.3s;
        }
    }

}