@import "../typography.scss";
@import "../base/variables.scss";


@media (min-width: 1060px) {

    .container-datos {

        border: 15px solid rgba(253, 253, 253, 0.5);
        min-height: 60%;
        max-height: 90%;
        //*!
        
        
        width: calc(40% + 2vw);
        padding: 1rem;

        .container-proyectos {
            margin-bottom: 0;
            p {
                font-size: calc(200% + 2vw);
            }

            div {
                font-size: 24px;
                overflow: hidden;
                text-align: center;
                @include raleway-bold;
                margin-top: -15px
            }
        }

        .mensaje {
            font-size: 30px;

            .mineria {
                font-size: 30px;
                border-bottom: 4px solid $color_rojo;
            }

            .industria {
                font-size: 30px;
                border-bottom: 4px solid $color_naranja;
            }
        }

        .link-about {
            text-decoration: none;
            cursor: pointer;
            text-align: center;
            @include raleway-light;
            font-size: 16px;
            border-bottom: 1px dashed white;
            display: inline;
            align-self: center;
        }
    }

}