@import "../../scss/base/variables.scss";
@import "../../scss/typography.scss";

@media (min-width: 1060px) {

  .container-footer {
    flex-direction: row;
    padding: 2rem;
    justify-content: space-around;


    .logo-resumen {
      width: 50%;

      .resumen-footer {}
    }

    .links-footer {
      width: 20%;

      ul{
        flex-direction: column;
      }
    }

    .horario-footer {
      width: 30%;
    }
  }
}