// @import "../variables";
@import "../base/variables.scss";
@import "../typography.scss";

#menu-bar {
  position: fixed;
  width: 100vw;
  z-index: 1001; //because mpp have z.-index +800
  display: flex;
  padding: 6px 0 0 5px;
  // justify-content: space-between;

  .logo-container {

    height: 50px;
    width: 100%;
    z-index: 4;
    display: flex;
    flex-direction: row;
    align-items: center;

    .logo {}

    .slogan {
      display: none;
    }
  }

  .links {
    display: none;
    z-index: 10;
  }

  .current {
    // color: blue;
    transition: color 1s;

  }

  .menu-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    padding: 4rem;
    gap: 3rem;

    h1 {
      font-weight: 600;
      // mix-blend-mode: difference;
    }

    a {
      text-decoration: none;
      transition: color 1s;
    }

    .menu-text {
      // margin-bottom: 2rem;
      opacity: 0.5;
    }
  }


}