@import "../scss/base/variables.scss";
@import "../scss/typography.scss";
@import "../App.scss";
@import "../App_.scss";


@media (min-width: 1060px) {

  .bg {
    height: 100vh;
    background-position: center center;
    background-size: 100% 100% ;
  }

  #section--footer{
    padding: 3rem 1rem 0 1rem;
  }
}