@import '../../scss/typography.scss';
@import '../../scss/base/variables.scss';
// @import '../../scss/componentes/titulos_.scss';

@media (min-width: 1060px) {

    .container-intro--productos {
        height: 50vh;
        .superior {
            height: 30%;
        }

        .inferior {
            height: 70%;
            flex-direction: row;
            justify-content: space-around;
            
            .productos-tit{
                .tit-catalogo {
                    font-size: 70px;
                }
    
                .tit-productos {
                    font-size: 70px;
                }
            }
            .container-card--productos{
                gap: 2rem;
                // margin-top: 10rem;
            }
        }



    }
}