$color1: #fff;
$color2: #fff;
// $color_rojo: #F02C4C;
$color_azul: #344a66;
$color_rojo: #FF0048;

$color_celeste: rgb(0, 195, 255);
$color_naranja: rgb(255, 123, 0);
$color_gray: gray;

$color_bg_default :#F5F5F5;

$color3: #d0d7bf;
$color-bg: #d0d7bf;
// $menu-bar-width: 100vw;
$font_paragraph: "Raleway";
$label_card: "Segoe WP bold";
$label_menu_icon: "Segoe WP bold";


$margin_left_general: 6rem;

$txt-filter: 1.111rem;
// //! solo tiene sentido aquello q se va a reutilizar mucho por ejemplo parrafos, titulos
