@import "../scss/base/variables.scss";
@import "../scss/typography.scss";
@import "../App.scss";
@import "../App_.scss";



.bg-ingenieria {
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  display: flex;
  z-index: -1;
}


.bg3-ingenieria {
  background-image: url("../images/ingenieria_1999x1120.webp");
  background-position: 50% 100%;
  
}

#ingenieria--intro{
}


#ingenieria--list {
  width: 100vw;
  background-color: #F5F5F5;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}