@import "../../scss/base/variables.scss";
@import "../../scss/typography.scss";


.container-about-us {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color_bg_default;

    .ingeniero {
        width: 100vw;
        height: 40vh;
        overflow: hidden;
        z-index: 1;
        display: flex;
        justify-content: center;

        div {
            width: 100%;
            background-color: #81aeca;
            background-blend-mode: hard-light;
            background-repeat: no-repeat;
            background-position: 40% top;
            background-image: url('../../images/ingeniero.jpeg');
        }
    }

    .historia {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .container-iconos {
        position: absolute;
        top: 0%;
        right: 0;
        margin-right: 17px;
        z-index: 1;
    }
}

.cuadro {
    position: absolute;
    border: 2rem solid rgba($color: #000000, $alpha: 0.05);
    width: 200px;
    height: 200px;
    z-index: 0;
    left: 0;
    bottom: 0;
}

.historia {
    margin-left: 1rem;
    overflow: hidden;

    :nth-child(1) {
        @include raleway-regular;
        color: black;
        font-size: 20px;
        white-space: nowrap;
        border-bottom: 4px solid $color_rojo;
        align-self: start;
    }

    :nth-child(2) {
        margin-top: 20px;
        color: black;
        @include raleway-regular;
        font-size: calc(30px + 1vw);
        white-space: nowrap;
    }

    :nth-child(3) {
        @include raleway-black;
        font-size: calc(30px + 1vw);
        white-space: nowrap;
        color: black;
    }

    :nth-child(4) {
        color: black;
        @include raleway-regular;
        font-size: calc(25px + 1vw);
        white-space: nowrap;
    }

    :nth-child(5) {
        color: gray;
        margin: 20px 0;
        @include raleway-regular;
        font-size: 20px;
    }
}