@import '../../scss/typography.scss';
@import '../../scss/base/variables.scss';

.container-intro {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;


    .superior {
        width: 100vw;
        height: 22vh;
    }

    .inferior {
        width: 100%;
        height: 55vh;
        display: flex;

        .titulos {
            display: flex;
            flex-direction: column;
            width: 100%;

            .wrapper {
                overflow: hidden;
            }
        }

        .estadistica-desktop {
            display: none;
        }

    }

    .container-gif {
        margin: auto;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 13vh;
        width: 100vw;
        height: 70vh;
        position: absolute;
        overflow: hidden;
        background-size: cover;
        background-position: 45% center;
        background-repeat: no-repeat;
        background-image: url('../../images/efecto.gif');
        mix-blend-mode: lighten;
        transition: all 1s;
    }

    .container-whatsapp {
        position: absolute;
        bottom: 80px;
        margin-right: 10px;
        align-self: end; // left: 75%;
        display: flex;
        justify-content: space-around;
        gap: 5px;
    }



}

.container-whatsapp {
    display: flex;
    flex-direction: column;

    .whatsapp{
        border: 2px solid #47E963;
    }
    .email{
        border: 2px solid #3260F2;
    }
    .visit{
        border: 2px solid $color_rojo;
    }

    span {
        
        border-radius: 20px;
        padding: 5px;
        color: white;
        font-size: 14px;
        @include jost-regular;
        background-color: rgba($color: white, $alpha: 0.2);
    }

    img {
        -webkit-filter: drop-shadow(5px 5px 5px white);
        filter: drop-shadow(0px 0px 10px black);
        width: 40px;
        height: 40px;
    }

    a {
        text-decoration: none;
        // width: calc(40px + 1vw);
        // height: calc(40px + 1vw);
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-left: 10px;
        gap: 10px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }

}


.titulos {
    margin-left: 10px;

    .tit-pro {
        height: 100%;
        @include raleway-regular;
        font-size: 40px;
        white-space: nowrap;
        // margin-bottom: -10px;
    }

    .tit-ing {
        @include raleway-black;
        font-size: 40px;
        white-space: nowrap;
    }

    .tit-inn {
        @include raleway-regular;
        font-size: 40px;
        white-space: nowrap;
        margin-bottom: 1rem;
    }

    .par {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        height: 70%;

        .mensaje0 {
            padding-top: 0rem;
            width: 40%;
            display: flex;
            flex-direction: column;

            div {
                width: 100%;
                @include raleway-bold;
                font-size: 20px;
                color: white;
                white-space: wrap;
                align-self: flex-start;
                margin-bottom: 1rem;

                span {
                    font-size: 20px;
                }
            }
        }

        .estadistica-movil {
            width: 50%;
            display: flex;
            justify-content: center;
            overflow: hidden;
        }
    }

}